{% extends "base.html" %}

{% block title %} Shop {% endblock title %}


{% block body %}
<div class="container">
    <div>
        <h2 class="my-4 text-center">Home Decor</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/hd_2.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Sustainable Candles</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 95</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/hd1.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Organic Cotton Throws</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 199</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/hd5.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Recycled Glass Vases</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 449</b></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="my-4 text-center">Personal Care</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/pc8.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Natural Deodorants</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 449</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/pc4.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Eco-Friendly Razors</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 299</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/pc9.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Reusable Cotton Rounds</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 159</b></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="my-4 text-center">Kitchen Essentials</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/kt_1.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Reusable Beeswax Wraps</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 60</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/kt5.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Bamboo Utensils</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 299</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/kt2.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Glass Storage Containers</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 449</b></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="my-4 text-center">Bathroom Essentials</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/b2.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Bamboo Toothbrushes</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 59</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/b4.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Organic Cotton Towels</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 299</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/b7.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Plastic-Free Toiletries</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 199</b></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="my-4 text-center">Cleaning Supplies</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/c5.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Natural Dish Soap</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 99</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/b3.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Reusable Cleaning Cloths</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 50</b></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/c7.jpg" alt="" name="image_url">
                    <div class="card-body">
                        <p class="card-text" name="product_name">Eco-Friendly Cleaning Brushes</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                            </div>
                            <small class="text-body-secondary" name="price"><b>₹ 249</b></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}