{% extends "base.html" %}

{% block title %} Shop {% endblock title %}


{% block body %}
<div class="container">
    <h2 class="my-4 text-center">Shop Now</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in products %}
        <div class="col">
            <div class="card shadow-sm">
                <img src="{{product.image_url}}" alt="" name="image_url">
                <div class="card-body">
                    <p class="card-text" >{{ product.product_name}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-success">ADD TO CART</button>
                        </div>
                        <small class="text-body-secondary" ><b> ₹ {{ product.price }} </b></small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock body %}